
<header>
    <h1>{{title}}</h1> <!-- i insert/inject a dynamic element into a partial. The object from where title gets its value is defined in each invdividual path in app.js-->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>